body {
  margin: 0;
}
.container {
  width: 80%;
  padding: 1rem;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.banner {
  width: 100%;
  height: 350px;
  background: url(../assets/happy-man.jpg) no-repeat center;
  background-size: cover;
}

.banner .cuadrado {
  position: absolute;
  height: 350px;
  background: linear-gradient(90deg, #020247 0%, rgba(46, 31, 200, 0) 100%);
}
.banner .cuadrado .info {
  padding: 2rem 2rem 0 4rem;
}
.banner .cuadrado .icono {
  width: 25%;
}

.banner .cuadrado h1 {
  font: 32px "Barlow", sans-serif;
  color: white;
  font-weight: 600;
  text-align: left;
  line-height: 40px;
  max-width: 30%;
}

.col {
  flex: 1 0 0%;
  padding: 20px 20px;
}

.col-3 {
  width: 33.333%;
  box-sizing: border-box;
  padding: 20px 20px;
}
.col-3 .box {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(25, 25, 25, 0.2);
  border-radius: 16px;
}

.col-3 .image img {
  width: 100%;
  box-shadow: 0px 0px 8px rgba(25, 25, 25, 0.2);

  border-radius: 16px 16px 0 0;
}

.col-3 .info {
  padding: 1rem;
  background-color: white;
  border-radius: 16px;
  position: relative;
  margin-top: calc(-48px - 5px);
}

.col h1 {
  letter-spacing: normal;
}
.line {
  border: 1px solid #cccccc;
  width: 80%;
}

.mini-card-container {
  display: flex;
}

.mini-card {
  background: #ffffff;
  box-shadow: 0 0 8px rgba(25, 25, 25, 0.2);
  border-radius: 16px;
  padding: 20px;
  margin: 1rem;
}
.mini-card:hover {
}

.mini-card-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mini-card .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
  margin-right: 20px;
}

.fondo {
  background-color: #f2f2f2;
}

.btn-doc {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}
.btn-doc img {
  width: 1.25rem;
  margin-left: 6rem;
}

.section-6 h1 {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.section-6 p {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.section-6 .card-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 30px 27px 20px;
  margin: 0;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-left: 10px solid #002eff;
  box-sizing: border-box;
  border-radius: 8px;
}

.section-6 .card-link .nombre {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #333333;
  margin: 0;
}
.section-6 .card-body {
  border-top: 1px solid #ccc;
  padding: 15px;
  font-size: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.section-6 .card-body .list {
  font-size: 14px;
  margin-left: 18px;
}

footer.footer {
  display: flex;
  align-items: center;
  background-color: #020247;
}

footer.footer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}
